/* * {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
} */

body {
  zoom: 1;
  font-size: 150%;
  /*   color: #00313c; */
  color: white;
  font-family: "Philosopher";
    /* background-color: #001524; */
  background-image: radial-gradient(
    circle farthest-corner at 16.5% 28.1%,
    #001524 0%,
    black 90%
  );

  /* background-size: 200% 100%;
  animation: gradient 30s ease infinite; */
  height: 500px;
  text-align: center;
}

/* @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  } */

.mySlides {
  width: 100%;
  /* height: 340px; */
  height: 100%;
  float: center;
  border-radius: 150px 150px 0px 0px;

  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
  margin: auto;
}

.myWidgets {
  /* padding-top: 2px; */
  width: 100%;
  color: #ffef90;
}

.slideshow-container {
  width: 100%;
  /* height: 340px; */
  height: 1500px;
  float: center;
  position: relative;
  margin: auto;

  border-radius: 150px 150px 0px 0px;
  /* background-color: #00223b; */
  background-color: #00223b32;
  /* background-image: radial-gradient(
    circle farthest-corner at 16.5% 28.1%,
    #00223b 0%,
    black 90%
  );
  background-size: 150% 100%;
} */

.htext {
  /* color:#003836; */
  color: #001524;
  background-color: #ffffff;
  border-radius: 80px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 2px;
  padding-bottom: 7px;
}

.htext2 {
  /* color:#003836; */
  color: #ffef90;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

/* @keyframes fade {
    from {
      opacity: .4
    }
  
    to {
      opacity: 1
    }
  } */

/* @-webkit-keyframes fade {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    34% {
      opacity: 0;
    }
    88% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fade {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    34% {
      opacity: 0;
    }
    88% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  } */

table {
  border-color: rgba(255, 255, 255, 0.300);
  border-collapse: collapse;
  border-spacing: 0;
  width: 90%;
}

th:not(:last-child) {
  border-bottom: 2px solid #dddddd4f;
  border-right: 2px solid #dddddd4f;
}

th:not(:first-child) {
  border-bottom: 2px solid #dddddd4f;
}

th:not(:last-child) {
  border-bottom: 2px solid #dddddd4f;
}

#scroll-text {
  text-align: right;

  /* animation properties */
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
