<!--بسم الله الرحمن الرحيم-->
<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="static/style.css">
  <title>Mosque Clock by Ukasa</title>
  <link rel="icon" href="static/icon.ico" sizes="32x32" />
  <script src="static/script.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet" />
</head>

<link rel="manifest" href="static/manifest.json" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<center>
  <body>
    
    <script src="static/jquery-3.6.1.min.js"></script>
    <script src="static/jquery.hijri.date.js"></script>
     
    <!--START OF CONTENT-->
    <br>
    <img class="myclass" src="static/MMIC_Logo_2024_white.svg"
      style="width:170px;height:auto;" />

    <br />
    <div id="clockdate">
      <div class="clockdate-wrapper"><b>
        <div id="clock" style="font-size: 450%;align:left;padding-bottom:5px;"></div>
        
        <div class="myTexts fade">
          <b style="font-size:150%; width:100%; background-image: url('static/social.png'); background-size: auto 103.5%;padding-left: 53.89%; background-position: center;"></b>
        </div>
        
        <div class="myTexts fade">
          <b style="font-size: 150%;"><b class="hijri"></b> • <b id="date"></b><b id="ccb--disabled"></b></b></b>
        </div>
        
        
      </div>
    </div>

    
    <br height="10px">
    <div class="slideshow-container">

    <div class="mySlides fade" style="background-image: url('static/funeral_screen_main.png');background-position: center;width:100%; background-size: auto 100%;"></div>
    <div class="mySlides fade" style="background-image: url('static/halaqah_banner.png');background-position: center;width:100%; background-size: auto 100%;"></div>



 
        
        


      
      
      <div class="mySlides fade" style="background-image: url('static/background.png');
  background-position: right;
  overflow-x:auto;">

        <table style="font-size:200%; border-spacing: 0.2em; padding-bottom: 10px;">
          <tr>
            <th style="text-align:right"></th>
            <th style="text-align:center">Fajr</th>
            <th style="text-align:center" id="jumuah">{{jumuah}}</th>
            <th style="text-align:center">Asr</th>
            <th style="text-align:center">Maghrib</th>
            <th style="text-align:center">Isha</th>
          </tr>
          <br>
          <tr>
            <td style="text-align: center">Begins</td>
            <td style="text-align:center">{{fajr}}</td>
            <td style="text-align:center">{{dhuhr}}</td>
            <td style="text-align:center">{{asr}}</td>
            <td style="text-align:center">{{maghrib}}</td>
            <td style="text-align:center">{{isha}}</td>
          </tr>
          <br>
          <tr>
            <th style="text-align: center">Jama’at</th>
            <th style="text-align:center">{{fajrj}}</th>
            <th style="text-align:center">{{dhuhrj}}</th>
            <th style="text-align:center">{{asrj}}</th>
            <th style="text-align:center">{{maghribj}}</th>
            <th style="text-align:center">{{ishaj}}</th>

            <p id="fajrb" hidden>{{fajrb}}</p>
            <p id="fajrc" hidden>{{fajrc}}</p>
            <p id="mysunc" hidden>{{mysunc}}</p>
            
            <p id="dhuhrb" hidden>{{dhuhrb}}</p>
            <p id="dhuhrc" hidden>{{dhuhrc}}</p>
            
            <p id="asrb" hidden>{{asrb}}</p>
            <p id="asrc" hidden>{{asrc}}</p>
            
            <p id="maghribb" hidden>{{maghribb}}</p>
            <p id="maghribc" hidden>{{maghribc}}</p>
            
            <p id="ishab" hidden>{{ishab}}</p>
            <p id="ishac" hidden>{{ishac}}</p>
            <p id="isha2c" hidden>{{isha2c}}</p>
            
            <p id="fajrt" hidden>{{fajrt}}</p>
          </tr>
        </table> 
        <br>
        <!-- <div class="myWidgets fade">
          <b id="cc2" style="font-size:250%;"></b>
        </div> -->
        <div class="myWidgets fade">
            <div><b class="htext"><b id="ccc"></b><b id="cc"></b></b></div>
          </div>
        </div>
      <!-- <div class="mySlides fade" style="background-image: url('static/background.png');
    background-position: right;
    overflow-x:auto;">
          <p> </p>
          <b style="font-size:250%;">رمضان الكريم - Ramadan Al-Kareem</b>
          <table style="font-size:200%; border-spacing: 0.5em;">
            <tr>
              <th style="text-align:right"></th>
              <th style="text-align:center">End of Suhoor</th>
              <th style="text-align:center">Iftar</th>
              <th style="text-align:center">Tarawih</th>
              <th style="text-align:center">2nd Tarawih</th>
            </tr>
            <br>
            <tr>
              <td style="text-align: center"></td>
              <td style="text-align:center">{{fajr}}</td>
              <td style="text-align:center">{{maghrib}}</td>
              <td style="text-align:center">{{ishaj}}</td>
              <td style="text-align:center">{{isha2}}</td>
            </tr>
            <tr><td> </td></tr>
            <br>
          </table> 
          <br>

          <div class="myWidgets fade">
            <b id="cc2" style="font-size:250%;"></b>
          </div>
        </div> -->
      </div>
    </div>
    
    <script src="static/script.js"></script>

    
    <p id="main"></p>
    
    <script>
      // read local JSON file in javascript
      fetch("static/times.json")
        .then(function (response) {
          return response.json();
        })
        .then(function (data) {
          console.log(data);
          // document.getElementById('main').innerHTML = data;
        })
    </script>
    <script src="jquery-csv.js"></script>
    
    <script>
      if (typeof navigator.serviceWorker !== 'undefined') {
        navigator.serviceWorker.register('sw.js')
      }
    </script>
  </body>
</center>
