<!--بسم الله الرحمن الرحيم-->
<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="static/style.css">
  <title>Mosque Clock by Ukasa</title>
  <link rel="icon" href="static/favicon.png" sizes="32x32" />
  <script src="static/script.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet" />
</head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<center>
  <body>
    
    <script src="static/jquery-3.6.1.min.js"></script>
    <script src="static/jquery.hijri.date.min.js"></script>
    <script>
      // $(function(){
      //   $('.hijri').hijriDate({
      //     // showGregDate:true,
      //     weekDayLang: 'en',
      //     hijriLang: 'en',
      //     gregLang: 'en',
      //     // correction: 1,
      //   });
      // });
    </script>
    
     
    <!--START OF CONTENT-->
    <br>
    <img class="myclass" src="static/MMICLogo.svg"
      style="width:170px;height:auto;filter: invert(100%) sepia(16%) saturate(7497%) hue-rotate(282deg) brightness(125%) contrast(109%);" />

    <br />
    <div id="clockdate">
      <div class="clockdate-wrapper"><b>
        <div id="clock" style="font-size: 400%"></div>
        <b class="hijri" style="font-size: 150%;"></b><b> - </b><b id="date" style="font-size: 150%"></b>
        
      </div></b>
    </div>
    
    <br height="10px">
    <div class="slideshow-container" style="margin:auto;">

<!--       <div class="mySlides fade"
        style="margin:auto;background-image: url('static/monthly.png');background-position: center;">
      </div> -->
      
      <div class="mySlides fade" style="background-image: url('static/background.png');
  background-position: right;
  overflow-x:auto;">

        <table style="font-size:200%; border-spacing: 0.2em;">
          <tr>
            <th style="text-align:right"></th>
            <th style="text-align:center">Fajr</th>
            <th style="text-align:center" id="jumuah">{{jumuah}}</th>
            <th style="text-align:center">Asr</th>
            <th style="text-align:center">Maghrib</th>
            <th style="text-align:center">Isha</th>
          </tr>
          <br>
          <tr>
            <td style="text-align: center">Begins</td>
            <td style="text-align:center">{{fajr}}</td>
            <td style="text-align:center">{{zuhr}}</td>
            <td style="text-align:center">{{asr}}</td>
            <td style="text-align:center">{{maghrib}}</td>
            <td style="text-align:center">{{isha}}</td>
          </tr>
          <br>
          <tr>
            <th style="text-align: center">Jama’at</th>
            <th style="text-align:center">{{fajrj}}</th>
            <th style="text-align:center">{{zuhrj}}</th>
            <th style="text-align:center">{{asrj}}</th>
            <th style="text-align:center">{{maghribj}}</th>
            <th style="text-align:center">{{ishaj}}</th>
            
            <p id="fajrc" hidden>{{fajrc}}</p>
            <p id="mysunc" hidden>{{mysunc}}</p>
            <p id="zuhrc" hidden>{{zuhrc}}</p>
            <p id="asrc" hidden>{{asrc}}</p>
            <p id="maghribc" hidden>{{maghribc}}</p>
            <p id="ishac" hidden>{{ishac}}</p>
            <p id="fajrt" hidden>{{fajrt}}</p>
          </tr>
        </table>
        <br>
        <div class="myWidgets fade">
          <b id="cc" style="font-size:250%;"></b>
        </div>
<!--         <div class="myWidgets fade">
          <b style="font-size:250%;">mmic.org.uk</b>
        </div> -->
      </div>
    </div>

    <div style="text-align:center">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot2"></span>
      <span class="dot2"></span>
    </div>
    <div class="example"></div>
    <script src="static/script.js"></script>
  </body>
</center>