<script>
  const express = require('express');
const app = express();
var x = require('x-ray')();

app.use(express.static('public'));
app.set('view engine', 'pug');
app.set('views', __dirname);

app.get('/', (req, res) => {

	x('https://www.ebay.co.uk/itm/194915659146',
	{ 
		quote: "#prcIsum",
		//author: "#main"
	}
	)(function(err, result){
		res.render('quote', result)
		console.log(result)
	});

});

app.listen(3000, () => console.log('server started'));

(function(err, result){
		console.log(result)
	});
</script>
<body>
  You found the secret second page. Well done.
</body>